
mat-form-field {
  width: 100%;
}

.search-btn {
  background-color: limegreen;
  color: white;
}

button {
  margin-right: 1rem;
}

pagination-controls {
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
}

mat-card-title {
  flex: 3;
  width: 80%;
}

mat-card-subtitle {
  flex: 1;
  width: 20%;
  position: relative;
  top: 1rem;
}
