<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member Allocation</title>
    <title>Placeholder</title>
</head>
<body>
    <div>Member Allocation</div>
    <div id = "projectList"> Project List
        <div id = "allocatedProjects">Allocated
            <li> Placholder</li>
            <li> Placholder</li>
            <li> Placholder</li>
        </div>
        <div id = "unallocatedProjects">Unallocated
            <li> Placholder</li>
            <li> Placholder</li>
            <li> Placholder</li>
        </div>
    </div>

</body>
</html>