<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Allocation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th scope ="col">Name</th>
            <th scope = "col" id = "studentName" th:text="${student.username}">Placeholder</th>
        </tr>
    </thead>
    <tbody >
        <tr>
            <td scope = "row">Student ID</td>
            <td id = "studentId" th:text="${student.getId()}">Placeholder</td>
        </tr>
        <tr>
            <td scope= "row">Weight Average Mark (WAM)</td>
            <td id = "studentMark">N/A</td>
        </tr>
        <tr>
            <td scope="row">Eligiblilty</td>
            <td id = "studentEligbility">
                <button>Yes</button>
                <button>No</button>
            </td>
        </tr>
    </tbody>

</table>
<h4>Allocate Project</h4>
<ul th:each="preference: ${student.preferences}">
    <a th:href="@{'/allocateProject/'+ ${preference.getId()} + '/'+ ${student.username}}" th:text="${preference.getTitle()}"></a>
</ul>
</body>



</html>