<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Allocation</title>
</head>
<body>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope ="col">Name</th>
            <th scope = "col" id = "studentName">Placeholder</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope = "row">Student ID</td>
            <td id = "studentId">Placeholder</td>
        </tr>
        <tr>
            <td scope= "row">Weight Average Mark (WAM)</td>
            <td id = "studentMark">Placeholder</td>
        </tr>
        <tr>
            <td scope="row">Eligiblilty</td>
            <td id = "studentEligbility">Placeholder</td>
        </tr>
    </tbody>
</table>
</body>
</html>