<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Allocation</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope ="col">Project Name</th>
                        <th scope ="col">Project Description</th>
                        <th scope ="col">Allocated Student</th>
                        <th scope ="col">Student ID</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope = "row">Project Name</th>
                        <td>Description</td>
                        <td>
                            Student Name
                        </td>
                        <td>
                            Student Number
                        </td>

                    </tr>


                </tbody>
            </table>


</body>
</html>